<div class="restore-password-container">
  <div class="restore-password-card">
    <h2>Відновлення паролю</h2>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Електронна адреса</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <button type="submit">Відновити пароль</button>
    </form>
    <div class="links">
      <a [routerLink]="['/login']">Повернутися до входу</a>
    </div>
  </div>
</div>
